.slide {
  display: flex;
  justify-content: center;
  padding: 100px 0px;
}

.slide .container {
  width: 1400px;
  position: relative;
}

/* Override slick's default button styles */
.slick-prev,
.slick-next {
  width: 50px;
  height: 50px;
  background-color: rgb(243, 243, 243);
  border-radius: 50%;
  z-index: 1;
}

.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  color: black;
}

/* Position the arrows vertically centered */
.slick-prev,
.slick-next {
  top: 0;
  bottom: 0;
  margin: auto;
}

/* Adjust left/right placement */
.slick-prev {
  left: -25px;
}
.slick-next {
  right: -25px;
}
